=redux_store 'Store', { restaurants: [ @restaurant ] }
=redux_container 'DevTools', store: 'Store'

.content
  .div
    =redux_container 'RestaurantView', store: 'Store'

    = link_to "Back", root_path
